<table class="table">
    <thead>
        <tr>
            <th>Voltage</th>
            <th>Value</th>
            <th>STATUS</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let alarm of alarmModel">
            <td>{{alarm.Voltage}}</td>
            <td>{{alarm.Value}}</td>
            <td>
                <span
                    [class]="alarm.SensorStatusName === sensorStatusEnum.critical? 'btn-critical-grid' : alarm.SensorStatusName === sensorStatusEnum.warning? 'btn-warning-grid' : 'btn-inprogress-grid'">{{alarm.SensorStatusName}}</span>
            </td>
            <td>{{sharedService.getCustomDateTime(alarm.DateTime)}}</td>
            <td>{{sharedService.getCustomTime(alarm.DateTime)}}</td>
        </tr>

    </tbody>
</table>