<div id="main">


    <!-- Sidebar Starts -->
    <div [class]="toggleNavbar? 'sidebar sidebar-dark sidebar-mobile active' : 'sidebar sidebar-dark sidebar-desktop'">
        <div class="logo" *ngIf="!toggleNavbar">
            <img src="assets/images/logo-white.svg">
        </div>

        <div class="logo" *ngIf="toggleNavbar" (click)="sidebarClose();">
            <img src="assets/images/logo-white.svg">
            <img src="assets/images/close-white.svg" class="close-icon">
        </div>

        <ul class="sidebar-nav" >
            <li class="machine-icon" routerLinkActive="active" (click)="sidebarClose();">
                <a [routerLink]="['/', 'app','machine']">
                    <img src="assets/images/sidebar/Assets/Inactive.svg" alt="icon" class="icon-light">
                    <img src="assets/images/sidebar/Assets/Active.svg" alt="icon" class="icon-white">

                    <span class="sidebar-title">Assets</span>
                </a>
            </li>
            <li class="sensor-icon" routerLinkActive="active" (click)="sidebarClose();">
                <a class="accordion-toggle" [routerLink]="['/', 'app','sensor']">
                    <img src="assets/images/sidebar/Sensors/Inactive.svg" alt="icon" class="icon-light">
                    <img src="assets/images/sidebar/Sensors/Active.svg" alt="icon" class="icon-white">
                    <span>Sensors</span>
                </a>
            </li>
            <li class="sensor-icon" routerLinkActive="active" (click)="sidebarClose();">
                <a class="accordion-toggle" [routerLink]="['/', 'app', 'gateway']">
                    <img src="assets/images/sidebar/Gateways/Inactive.svg" alt="icon" class="icon-light">
                    <img src="assets/images/sidebar/Gateways/Active.svg" alt="icon" class="icon-white">
                    <span>Gateways</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/sidebar/Users/Inactive.svg" alt="icon" class="icon-light">
                    <img src="assets/images/sidebar/Users/Active.svg" alt="icon" class="icon-white">
                    <span>Users</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/sidebar/Reports/Inactive.svg" alt="icon" class="icon-light">
                    <img src="assets/images/sidebar/Reports/Active.svg" alt="icon" class="icon-white">
                    <span>Reports</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/sidebar/Settings/Inactive.svg" alt="icon" class="icon-light">
                    <img src="assets/images/sidebar/Settings/Active.svg" alt="icon" class="icon-white">
                    <span>Settings</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- Sidebar Ends -->
    <!-- Page Body Starts -->
    <!-- Header Starts -->
    <header class="header">
        <div class="menu-icon">
            <img src="assets/images/menu.svg" class="img-fluid" (click)="mobileSidebar()">
        </div>
        <div class="header-left">
            <h4 class="header-title d-none d-md-block">{{welcomeStatus}}, {{userFullName}}</h4>
            <p class="header-date d-none d-md-block"> {{time}}, {{date}}</p>
        </div>
        <div class="header-right">
            <ul>
                <li class="notification-icon"><img src="assets/images/notification.svg" alt="icon"></li>
                <li>
                    <div class="dropdown">
                        <button class="image-dd" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="assets/images/user-profile.svg" alt="icon">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item cp" (click)="logout()">Logout</a>
                        </div>
                      </div>
                </li>
            </ul>
            
        </div>
    </header>
    <!-- Header Ends -->

    <!-- BODY -->
    <section class="theme-card">
        <app-breadcrumb></app-breadcrumb>
        <div class="theme-css">
            <router-outlet></router-outlet>
        </div>
    </section>

</div>