<div class="card-header d-block no-border">
    <div class="row">
        <div class="col-lg-4">
            <h4 class="card-title purple"><b>Gateways</b></h4>
        </div>
        <div class="col-lg-8">
            <form [formGroup]="gatewayTableForm" novalidate>
                <div class="card-header-btns sensor-search-square">
                    <div class="input-group sensor-search">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <i aria-hidden="true"><img width="20" src="assets/images/gateway/search.svg"></i>
                            </span>
                        </div>
                        <input type="search" class="form-control" placeholder="Search gateway by name, ID, variant ID"
                        formControlName="searchText" (keyup)="search()" >
                    </div>
                    <a class="btn btn-square-border mr-10 cp">Filter/Sort</a>
                    <a class="btn-square mr-10 cp" data-toggle="modal" (click)="openGatewayAdd()">Add Gateway</a>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs theme-tabs with-border" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-item nav-link active" id="individual_sensor" data-toggle="tab" href="#home" role="tab"
                        aria-controls="home" aria-selected="true">
                        Gateway List
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-item  nav-link" id="sensor_groups" data-toggle="tab" href="#profile" role="tab"
                        aria-controls="profile" aria-selected="false">
                        Data Usage Analysis
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="card-body">
    <div class="tab-content theme-tabs-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="individual_sensor">
          <app-gateway-list [searchClick]="searchClick"></app-gateway-list>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="sensor_groups">
            <h4 class="data-storage-title">Data usage vs gateways</h4>

        </div>
    </div>
</div>
